name: Keep Supabase Active

on:
  schedule:
    # Se ejecuta a la 1:00 AM cada 5 días.
    # (El formato cron es: minuto hora día(del mes) mes día(de la semana))
    - cron: '0 1 */4 * *'

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Supabase Database
        run: |
          curl -s -X GET \
            "${{ secrets.SUPABASE_URL }}/rest/v1/keep_alive?select=id&limit=1" \
            -H "apikey: ${{ secrets.SUPABASE_ANON_KEY }}" \
            -H "Authorization: Bearer ${{ secrets.SUPABASE_ANON_KEY }}" \
            --fail
            
